.About{
    position: relative;
    width: 100%;
    min-width: 100vh;
    height: 70%;
    background-color: #E7F6FF;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}